/*
ThemeName:    Ha-Art.art
Theme URI:    https://ha-art-project.art/
Description:  りょうき歯科クリニックHa-Art活動
Author:       RyoukiDentalClinic-PR
Author URI:   https://ha-art-project.art/
Version:      1.0.0
Tags:         one-columns, responsive-layout, accessibility-ready
Text Domain:  https://ha-art-project.art/
*/